{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的網站|我的消息
{% endblock %}

{% block base_css %}
    <link rel="stylesheet" href="{% static 'my_notifications/my_notifications.css' %}">
{% endblock %}

{% block nav_home_active %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <a href="{% url 'notifications:mark_all_as_read' %}?next={% url 'my_notifications' %}" class="btn btn-primary">全部已讀</a>
                <a href="{% url 'delete_my_read_notifications' %}" class="btn btn-danger">刪除已讀</a>
                <ul class="notifications">
                    {% for notification in request.user.notifications.all %}
                        {% if not notification.unread %}
                            <li class="read">[{{ notification.timesince }}之前]，<a href="{% url 'my_notification' notification.pk %}">{{ notification.verb }}</a></li>
                        {% else %}
                            <li>[{{ notification.timesince }}之前]，<a href="{% url 'my_notification' notification.pk %}">{{ notification.verb }}</a></li>
                        {% endif %}
                    {% empty %}
                        <li>目前無消息</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block base_js %}

{% endblock %}

