ul.blog-types {
    list-style-type: none
}
div.blog {
    word-break: break-all;
}
div.blog:not(:last-child) {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}
div.blog h3 {
    margin-top: 0.5em;
}
div.blog ul.blog-info {
    margin-bottom: 0;
}
ul.blog-info li {
    display: inline-block;
    margin-right: 1em;
}
div.paginator {
    text-align: center;
}
ul.blog-info-description {
    list-style-type: none;
    margin-bottom: 1em;
}
ul.blog-info-description li {
    display: inline-block;
    margin-right: 1em;
}
div.blog-content {
    word-break: break-all;
    margin-bottom: 2em;
}
div.blog-more {
    margin-top: 1em;
}
div.comment-area {
    margin-top: 2em;
}
h3.comment-area-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
}
div.comment {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}
div.reply {
    margin-left: 2em;
}
div#reply_content_container {
    border: 1px solid #d1d1d1;
    border-bottom: none;
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 1em 1em 0.5em;
}
p#reply_title {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 0.5em;
}
div.like {
    color: #337ab7;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.3em;
}
div.like .active{
    color: #f22;
}

div.django-ckeditor-widget {
    width: 100%;
}
