{% extends 'base.html'%}
{% block title %}我的網站{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}

{% block base_css %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{# 頁面內容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">{% block blog_list_title %}文章列表{% endblock %}</div>
                    <div class="panel-body">
                        {% for blog in blogs %}
                            <div class="blog">
                                <h3>
                                    <a href="{% url 'blog_detail' blog.pk %}">
                                        {{ blog.title }}
                                    </a>
                                </h3>
                                <ul class="blog-info">
                                    <li>
                                        <span class="glyphicon glyphicon-tag"></span>
                                        <a href="{% url 'blog_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>
                                    </li>
                                    <li>
                                        <span class="glyphicon glyphicon-time"></span>
                                        {{ blog.created_at|date:"Y-m-d" }}
                                    </li>
                                    <li>
                                        閱讀({{ blog.get_read_count }})
                                    </li>
                                    <li>
                                        評論({% get_comment_count blog %})
                                    </li>
                                    <li>
                                        讚({% get_like_count blog %})
                                    </li>
                                </ul>
                                <p>{{ blog.content|striptags|truncatechars:120 }}</p>
                            </div>
                        {% empty%}
                            <div class="blog">
                                <h3>暫無，敬請期待</h3>
                            </div>
                        {% endfor%}
                    </div>
                </div>
                <div class="paginator">
                    <ul class="pagination">
                        {# 上一頁 #}
                        <li>
                            {% if page.has_previous %}
                                <a href="?page={{ page.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>
                        {# 頁碼 #}
                        {% for page_number in page_range %}
                            {% if page_number == page.number %}
                                <li class="active"><span>{{ page_number }}</span></li>
                            {% else %}
                                {% if page_number == '...' %}
                                    <li><span>{{ page_number }}</span></li>
                                {% else%}
                                    <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {# 下一頁 #}
                        <li>
                            {% if page.has_next %}
                                <a href="?page={{ page.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                    </ul>
                    <p>
                        共有{{ page.paginator.count }}篇文章，
                        當前第{{ page.number }}頁，共{{ page.paginator.num_pages }}頁
                    </p>
                </div>
            </div>
            <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
                <div class="panel panel-default">
                    <div class="panel-heading">文章分類</div>
                    <div class="panel-body">
                        <ul class="blog-types">
                            {% for blog_type in blog_types %}
                                <li><a href="{% url 'blog_type' blog_type.pk %}">{{ blog_type.type_name }} ({{ blog_type.blog_count }})</a></li>
                            {% empty %}
                                <li>暫無分類</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                        <div class="panel-heading">日期群組</div>
                        <div class="panel-body">
                            <ul>
                                {% for blog_date, blog_count in blog_dates.items %}
                                    <li><a href="{% url 'blog_date' blog_date.year blog_date.month %}">{{ blog_date|date:"Y年m月" }} ({{ blog_count }})</a></li>
                                {% empty %}
                                    <li>暫無分類</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}