{% extends 'base.html'%}
{% block title %}{{ blog.title }}{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}

{% block base_css %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{# 頁面內容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>{{ blog.title }}</h3>
                <ul class="blog-info-description">
                    <li>作者：{{ blog.author }}</li>
                    <li>分類：<a href="{% url 'blog_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></li>
                    <li>發表日期：{{ blog.created_at|date:"Y-m-d H:i:s" }}</li>
                    <li>閱讀({{ blog.get_read_count }})</li>
                    <li>評論(<span id='comment_count'>{% get_comment_count blog %}</span>)</li>
                </ul>
                <div class="blog-content">{{ blog.content|safe }}</div>
                <div class="like" onclick="like_change(this, '{% get_content_type blog %}', {{ blog.pk }})">
                    <span class="glyphicon glyphicon-thumbs-up {% get_like_status blog %}"></span>
                    <span class="liked-count">{% get_like_count blog %}</span>
                    <span>喜歡</span>
                </div>
                <div class="blog-more">
                    <p>上一篇：
                        {% if previous_blog %}
                            <a href="{% url 'blog_detail' previous_blog.pk %}">{{ previous_blog.title }}</a>
                        {% else%}
                            無
                        {% endif %}
                    </p>
                    <p>下一篇：
                        {% if next_blog %}
                        <a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a>
                        {% else%}
                            無
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="comment-area">
                    <h3 class="comment-area-title">提交評論</h3>
                    {% if user.is_authenticated %}
                        <form id="comment_form" action="{% url 'update_comment' %}" method="POST" style="overflow:hidden">
                            {% csrf_token %}
                            <label for="comment_text">{{ user.get_nickname_or_username }}，歡迎評論。</label>
                            <div id="reply_content_container" style="display:none;">
                                <p id="reply_title">回覆：</p>
                                <div id="reply_content"></div>
                            </div>
                            {% get_comment_form blog as comment_form %}
                            {% for field in comment_form  %}
                                {{ field }}
                            {% endfor %}
                            <span id="comment_error" class="text-danger pull-left"></span>
                            <input type="submit" value="評論" class="btn btn-primary pull-right">
                        </form>
                    {% else %}
                        未登入，登入後可評論
                        <a class="btn btn-primary" href="{% url 'login' %}">登入</a>
                        <span> or </span>
                        <a class="btn btn-danger" href="{% url 'register' %}">註冊</a>
                    {% endif %}
                </div>
                <div class="comment-area">
                    <h3 class="comment-area-title">評論列表</h3>
                    <div id="comment_list">
                        {% get_comment_list blog as comments %}
                        {% for comment in comments %}
                            <div id="root_{{ comment.pk }}" class="comment">
                                <span>{{ comment.user.get_nickname_or_username }}</span>
                                <span>({{ comment.created_at|date:"Y-m-d H:i:s" }})：</span>
                                <div id="comment_{{ comment.pk }}">
                                    {{ comment.text|safe }}
                                </div>
                                <div class="like" onclick="like_change(this, '{% get_content_type comment %}', {{ comment.pk }})">
                                    <span class="glyphicon glyphicon-thumbs-up {% get_like_status comment %}"></span>
                                    <span class="liked-count">{% get_like_count comment %}</span>
                                </div>
                                <a href="javascript:reply({{ comment.pk }});">回覆</a>

                                {% for reply in comment.root_comments.all %}
                                    <div class="reply">
                                        <span>{{ reply.user.get_nickname_or_username }}</span>
                                        <span>({{ reply.created_at|date:"Y-m-d H:i:s" }})</span>
                                        <span>回覆</span>
                                        <span>{{ reply.reply_to.get_nickname_or_username }}：</span>
                                        <div id="comment_{{ reply.pk }}">
                                            {{ reply.text|safe }}
                                        </div>
                                        <div class="like" onclick="like_change(this, '{% get_content_type reply %}', {{ reply.pk }})">
                                            <span class="glyphicon glyphicon-thumbs-up {% get_like_status reply %}"></span>
                                            <span class="liked-count">{% get_like_count reply %}</span>
                                        </div>
                                        <a href="javascript:reply({{ reply.pk }});">回覆</a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% empty %}
                            <span id="no_comment">暫無評論</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block base_js %}
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script>
        function reply(reply_comment_id){
            $('#reply_comment_id').val(reply_comment_id);
            var html = $('#comment_'+reply_comment_id).html();
            $('#reply_content').html(html);
            $('#reply_content_container').show();

            $('html').animate({scrollTop: $('#comment_form').offset().top -60}, 300, function(){
                CKEDITOR.instances['id_text'].focus();
            });
        }

        $("#comment_form").submit(function(){
            //判斷textarea是否為空，減少對伺服器請求的負擔
            if(CKEDITOR.instances['id_text'].document.getBody().getText().trim()==''){
                $('#comment_error').text('評論內容不能為空');
                return false;
            }

            //更新ckeditor的資料到textarea
            CKEDITOR.instances['id_text'].updateElement();

            //Ajax
            $.ajax({
                url: "{% url 'update_comment' %}",
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    if(data['status']=="SUCCESS"){
                        var comment_html = '<div>' + data['username'] + ' (' + data['created_at'] + '):' + data['text'] + '</div>';
                        if(data['reply_to'] == ''){
                            //插入評論
                            /*
                            var comment_html =
                            '<div id="root_' + data['pk'] + '" class="comment">' +
                                '<span>' + data['username'] + '</span>' +
                                '<span>(' + data['created_at'] + ')：</span>' +
                                '<div id="comment_' + data['pk'] + '">' +
                                    data['text'] +
                                '</div>' +
                                '<a href="javascript:reply(' + data['pk'] + ');">回覆</a>' +
                            '</div>';
                            */
                            var comment_html =
                            '<div id="root_{0}" class="comment">\
                                <span>{1}</span>\
                                <span>({2})：</span>\
                                <div id="comment_{0}">\
                                    {3}\
                                </div>\
                                <div class="like" onclick="like_change(this, \'{4}\', {0})">\
                                    <span class="glyphicon glyphicon-thumbs-up"></span>\
                                    <span class="liked-count">0</span>\
                                </div>\
                                <a href="javascript:reply({0});">回覆</a>\
                            </div>';
                            comment_html = comment_html.format(data['pk'], data['username'], data['created_at'], data['text'], data['content_type']);
                            $('#comment_list').prepend(comment_html);
                        }else{
                            //插入回覆
                            console.log('#root_' + data['root_pk']);
                            /*var reply_comment =
                            '<div class="reply">' +
                                '<span>' + data['username'] + '</span>' +
                                '<span>(' + data['created_at'] + ')</span>' +
                                '<span>回覆</span>' +
                                '<span>' + data['reply_to'] + '：</span>' +
                                '<div id="comment_' + data['pk'] + '">' +
                                    data['text'] +
                                '</div>' +
                                '<a href="javascript:reply(' + data['pk'] + ');">回覆</a>' +
                            '</div>';*/
                            var reply_comment =
                            '<div class="reply">\
                                <span>{1}</span>\
                                <span>({2})</span>\
                                <span>回覆</span>\
                                <span>{3}：</span>\
                                <div id="comment_{0}">\
                                    {4}\
                                </div>\
                                <div class="like" onclick="like_change(this, \'{5}\', {0})">\
                                    <span class="glyphicon glyphicon-thumbs-up"></span>\
                                    <span class="liked-count">0</span>\
                                </div>\
                                <a href="javascript:reply({0});">回覆</a>\
                            </div>';

                            reply_comment = reply_comment.format(data['pk'], data['username'], data['created_at'], data['reply_to'], data['text'], data['content_type']);
                            $('#root_' + data['root_pk']).append(reply_comment);
                        }
                        //comment_count plus
                        var comment_count = parseInt($('#comment_count').text());
                        comment_count += 1;
                        $('#comment_count').text(comment_count);

                        //reset ckeditor
                        CKEDITOR.instances['id_text'].setData('');
                        $('#reply_content_container').hide();
                        $('#reply_comment_id').val('0');
                        $('#no_comment').remove();
                        $("#comment_error").text('評論成功');
                    }else{
                        $("#comment_error").text(data['message']);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });

            return false;
        });

        function like_change(obj, content_type, object_id){
            var is_like = obj.getElementsByClassName('active').length == 0

            $.ajax({
                url: "{% url 'like_change'  %}",
                type: 'GET',
                data: {
                    content_type: content_type,
                    object_id: object_id,
                    is_like: is_like,
                },
                cache: false,
                success: function(data){
                    //更新點讚狀態
                    if(data['status'] == 'SUCCESS'){
                        var element = $(obj.getElementsByClassName('glyphicon'));
                        if(is_like){
                            element.addClass('active');
                        }else{
                            element.removeClass('active');
                        }
                    }else{
                        if(data['code']==400){
                            $('#login_modal').modal('show');
                        }else{
                            alert(data['message']);
                        }

                    }
                    //更新點讚數量
                    var liked_count = $(obj.getElementsByClassName('liked-count'));
                    liked_count.text(data['liked_count']);
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
        }

        //#id的動畫
        if(window.location.hash){
            $('html').animate(
                {scrollTop: $(window.location.hash).offset().top - 60 },
                500
            );
        }

    </script>
{% endblock %}