{% extends 'form.html' %}

{% block other_buttons %}
    <button id="send_code_btn" class="btn btn-primary">發送驗證碼</button>
{% endblock  %}

{% block base_js %}
    <script>
        $("#send_code_btn").click(function(){
            event.preventDefault();

            var that = this;
            function start_timer(){
                $(that).addClass('disabled');
                $(that).attr('disabled', true);
                var time = 30;
                $(that).text(time + 's');
                var interval = setInterval(() => {
                    time --;
                    $(that).text(time + 's');

                    if(time <= 0){
                        $(that).removeClass('disabled');
                        $(that).attr('disabled', false);
                        $(that).text('發送驗證碼');
                        clearInterval(interval);
                    }
                }, 1000);
            }

            var email= $("#id_email").val();
            if(email == ""){
                $("#tip").text('* 信箱不能為空');
                return false;
            }

            //發送驗證碼
            $.ajax({
                url: "{% url 'send_verification_code' %}",
                type: "GET",
                data: {
                    'email': email,
                    'send_for': 'bind_email_code',
                },
                cache: false,
                success: function(data){
                    if(data['status'] == 'ERROR'){
                        alert(data['message']);
                        return false;
                    }
                    start_timer();
                }
            });
        });
    </script>
{% endblock %}