{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的網站|登入
{% endblock %}

{% block base_css %}
{% endblock %}

{% block nav_home_active %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
                {% if not user.is_authenticated %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">登入</h3>
                        </div>
                        <div class="panel-body">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {% for field in login_form %}
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    <p class="text-danger">{{ field.errors.as_text }}</p>
                                {% endfor %}
                                <span class="pull-left text-danger">{{ login_form.non_field_errors }}</span>
                                <div class="clearfix"></div>
                                <a href="{% url 'forget_password' %}" class='pull-left'>忘記密碼?</a>
                                <input type="submit" value="登入" class="btn btn-primary pull-right">
                            </form>
                        </div>
                    </div>
                {% else %}
                    <span>已登入，跳轉到首頁...</span>
                    <script>
                        window.location.href = '/';
                    </script>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

{% block base_js %}
{% endblock %}

