{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的網站|註冊
{% endblock %}

{% block base_css %}
{% endblock %}

{% block nav_home_active %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
                {% if not user.is_authenticated %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">登入</h3>
                        </div>
                        <div class="panel-body">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {% for field in register_form %}
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    <p class="text-danger">{{ field.errors.as_text }}</p>
                                {% endfor %}
                                <span class="text-danger">{{ register_form.non_field_errors }}</span>
                                <span id="tip" class="text-danger">{{ register_form.non_field_errors }}</span>
                                <div class="clearfix"></div>
                                <button id="send_code_btn" class="btn btn-primary pull-left">發送驗證碼</button>
                                <input type="submit" value="註冊" class="btn btn-primary pull-right">
                            </form>
                        </div>
                    </div>
                {% else %}
                    <span>已登入，跳轉到首頁...</span>
                    <script>
                        window.location.href = '/';
                    </script>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block base_js %}
    <script>
        $("#send_code_btn").click(function(){
            event.preventDefault();

            var that = this;
            function start_timer(){
                $(that).addClass('disabled');
                $(that).attr('disabled', true);
                var time = 30;
                $(that).text(time + 's');
                var interval = setInterval(() => {
                    time --;
                    $(that).text(time + 's');

                    if(time <= 0){
                        $(that).removeClass('disabled');
                        $(that).attr('disabled', false);
                        $(that).text('發送驗證碼');
                        clearInterval(interval);
                    }
                }, 1000);
            }

            var email= $("#id_email").val();
            if(email == ""){
                $("#tip").text('* 信箱不能為空');
                return false;
            }

            //發送驗證碼
            $.ajax({
                url: "{% url 'send_verification_code' %}",
                type: "GET",
                data: {
                    'email': email,
                    'send_for': 'register_code',
                },
                cache: false,
                success: function(data){
                    if(data['status'] == 'ERROR'){
                        alert(data['message']);
                        return false;
                    }
                    start_timer();
                }
            });
        });
    </script>
{% endblock %}

