{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的網站|個人資料
{% endblock %}

{% block base_css %}
{% endblock %}

{% block nav_home_active %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                {% if user.is_authenticated %}
                    <h2>{{ user.username }}</h2>
                    <ul>
                        <li>暱稱：{{ user.get_nickname }} <a href="{% url 'change_nickname' %}">修改暱稱</a></li>
                        <li>信箱：
                            {% if user.email %}
                                {{ user.email }}
                            {% else %}
                                未綁定
                                <a href="{% url 'bind_email' %}">綁定信箱</a>
                            {% endif %}
                        </li>
                        <li>最近登入時間：{{ user.last_login|date:"Y-m-d H:i:s" }}</li>
                        <li><a href="{% url 'change_password' %}">修改密碼</a></li>
                    </ul>
                {% else %}
                    <span>未登入，跳轉到首頁...</span>
                    <script>
                        window.location.href = '/';
                    </script>
                {% endif%}
            </div>
        </div>
    </div>

{% endblock %}

{% block base_js %}
{% endblock %}

