* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 70px!important;
}

ul {
    list-style-type: none;
}

ul.navbar-right {
    margin-right: 0;
}

.unread-count {
    background-color: #d9534f!important;
}

.search-form button[type="submit"]{
    background: none;
    border: none;
    margin-left: -3em;
    color: #aaa;
}

.page {
    display: flex;
    justify-content: center;
}
