{% load staticfiles %}
{% load notifications_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block base_css %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="{% url 'home' %}" class="navbar-brand">個人部落格網站</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="{% block nav_home_active %}{% endblock %}">
                        <a href="{% url 'home' %}">首頁</a>
                    </li>
                    <li class="{% block nav_blog_active %}{% endblock %}">
                        <a href="{% url 'blog_list' %}">文章</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                        <li>
                            <a href="{% url 'login' %}">登入</a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">註冊</a>
                        </li>
                    {% else %}
                        {% notifications_unread as unread_count %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                {% if user.has_nickname %}
                                    {{ user.username }}({{ user.get_nickname }})
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                                <span class="badge unread-count live_notify_badge">{% if unread_count > 0 %}{{ unread_count }}{% endif %}</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'user_info' %}">個人資料</a></li>
                                <li><a href="{% url 'my_notifications' %}">
                                        我的消息
                                        <span class="badge unread-count live_notify_badge">{% if unread_count > 0 %}{{ unread_count }}{% endif %}</span>
                                    </a>
                                </li>
                                {% if user.is_staff or user.is_superuser %}
                                    <li><a href="{% url 'admin:index' %}">後台管理</a></li>
                                {% endif %}
                                <li><a href="{% url 'logout' %}">登出</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li>
                        <form class="navbar-form search-form" action="{% url 'search' %}" method="GET">
                            <div class="form-group">
                            <input type="text" name="word" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
    <!-- Modal -->
    <div class="modal fade" id="login_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <form id="login_modal_form" action="" method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">登入</h4>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        {% for field in login_modal_form %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        {% endfor %}
                        <span id="login_modal_tip" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">登入</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'base.js' %}"></script>
    <script>
    //自定義即時notification (要在引用前先定義)
    function my_special_notification_callback(data){
        unread_count = data['unread_count']
        if(unread_count == 0){
            unread_count = ''
        }
        $('.live_notify_badge').text(unread_count);
    }
    </script>
    <script type="text/javascript" src="{% static 'notifications/notify.js' %}"></script>
    {% register_notify_callbacks callbacks='my_special_notification_callback' %}
    <script>
        $("#login_modal_form").submit(function(event){
            event.preventDefault();
            $.ajax({
                url: '{% url "login_for_modal" %}',
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    if(data['status']=='SUCCESS'){
                        window.location.reload();
                    }else{
                        $('#login_modal_tip').text('用戶名或密碼不正確');
                    }
                },
                error: function(xhr){

                }
            });
        });
    </script>
    {% block base_js %}{% endblock %}
</body>
</html>