{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的網站|首頁
{% endblock %}

{% block base_css %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block nav_home_active %}
    active
{% endblock %}

{% block content %}
    <h3 class="home-content">歡迎我的網站，隨便看。</h3>
    <div id="container"></div>
    <div class="hot-blog">
        <h3>今日熱門文章</h3>
        <ul>
            {% for today_blog in today_blog_list %}
                <li><a href="{% url 'blog_detail' today_blog.id %}">{{ today_blog.title }}</a>({{ today_blog.read_count_sum }})</li>
            {% empty %}
                <li>今天暫時沒有熱門文章</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot-blog">
        <h3>昨日熱門文章</h3>
        <ul>
            {% for yesterday_blog in yesterday_blog_list %}
                <li><a href="{% url 'blog_detail' yesterday_blog.id %}">{{ yesterday_blog.title }}</a>({{ yesterday_blog.read_count_sum }})</li>
            {% empty %}
                <li>昨日暫時沒有熱門文章</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot-blog">
        <h3>七日熱門文章</h3>
        <ul>
            {% for week_blog in week_blog_list %}
                <li><a href="{% url 'blog_detail' week_blog.id %}">{{ week_blog.title }}</a>({{ week_blog.read_count_sum }})</li>
            {% empty %}
                <li>昨日暫時沒有熱門文章</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block base_js %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var myChart = Highcharts.chart('container', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: null
                },
                xAxis: {
                    categories: {{ date_list|safe }},
                    tickmarkPlacement: 'on',
                    title: {
                        text: '前7日閱讀量統計'
                    },
                },
                yAxis: {
                    title: {
                        text: null
                    },
                    labels: {
                        enabled: false
                    },
                    gridLineDashStyle: 'Dash',
                },
                series: [{
                    name: '閱讀量',
                    data: {{ read_count_list }}
                }],
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                credits: {
                    enabled: false
                }
            });
        });
    </script>
{% endblock %}

