{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的網站|搜尋
{% endblock %}

{% block base_css %}
{% endblock %}

{% block nav_home_active %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% if search_words == '' %}
                    <h3>搜尋關鍵字不得為空</h3>
                    <p>請搜尋關鍵字，比如：Django</p>
                {% else %}
                    <h3>搜尋"{{ search_words }}"，找到{{ search_blogs_count }}個結果</h3>
                    <hr>
                    {% for blog in search_blogs %}
                        <a href="{% url 'blog_detail' blog.pk %}">
                            <h4>{{ blog.title }}</h4>
                        </a>
                        <p>{{ blog.content | striptags | truncatechars_html:100 }}</p>
                    {% empty %}
                        <p>搜尋不到任何結果</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row page">
            {% if search_blogs.has_previous %}
                <a class="btn btn-default" href="{% url 'search' %}?word={{ search_words }}&page={{ search_blogs.previous_page_number }}">上一頁</a>
            {% endif %}
            {% if search_blogs.has_next %}
                <a class="btn btn-default" href="{% url 'search' %}?word={{ search_words }}&page={{ search_blogs.next_page_number }}">下一頁</a>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block base_js %}
{% endblock %}

