{% autoescape off %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>動作：
        {% if send_for == 'bind_email_code' %}
            綁定信箱
        {% elif send_for == 'register_code' %}
            註冊用戶
        {% else %}
            忘記密碼
        {% endif %}
    </p>
    <p>您的驗證碼：<span>{{ verification_code }}</span></p>
    <a href="//{{ index_url }}">網站首頁</a>
</body>
</html>
{% endautoescape %}




